body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index:-1;
}

#goalie{
  left:564px;
  top:250px;
  position: relative;
  background-image: url(images/goalie.jpg);
  background-position: -188px -363px;
  background-size:445%;
  width: 120px;
  height: 150px;
}

#goalie1{
  left:331px;
  top:178px;
  position: relative;
  background-image: url(images/goalie.jpg);
  background-position: -34px -169px;
  background-size:283%;
  width: 200px;
  height: 150px;
  animation: goalie .5s linear 1;
}

#goalie2{
  left:566px;
  top:220px;
  position: relative;
  background-image: url(images/goalie.jpg);
  background-position: -435px -479px;
  background-size:450%;
  width: 144px;
  height: 139px;
  animation: goalie .5s linear 1;
}

#goalie3{
  left:751px;
  top:210px;
  position: relative;
  background-image: url(images/goalie.jpg);
  background-position: -363px -84px;
  background-size:288%;
  width: 208px;
  height: 104px;
  animation: goalie .5s linear 1;
}

#ball{
  position:absolute;
  background-color:orange;
  border-radius:50%;
  height:66px;
  width:66px;
  left:566px;
  top:500px;
}

#ball1{
  position:absolute;
  background-color:orange;
  border-radius:50%;
  height:50px;
  width:50px;
  left:315px;
  top:155px;
  z-index: 3;
  transition: ball .5s linear 1;
}

#ball2{
  position:absolute;
  background-color:orange;
  border-radius:50%;
  height:50px;
  width:50px;
  left:630px;
  top:300px;
  transition: ball .5s linear 1;
}

#ball3{
  position:absolute;
  background-color:orange;
  border-radius:50%;
  height:50px;
  width:50px;
  left:900px;
  top:250px;
  transition: ball .5s linear 1;
}

.zone{
  /*border:5px dotted red;*/
}

#goal{
  position:absolute;
  height:215px;
  width:680px;
  border: 5px solid white;
  border-bottom: none;
  left:293px;
  top:130px;
  margin:0;
  padding:0;
}

#zone1{
  position:absolute;
  height:215px;
  width:204px;
  left:293px;
  top:130px;
  margin:0;
  padding:0;
  z-index:5;
}
#zone2{
  position:absolute;
  height:215px;
  width:272px;
  left:497px;
  top:130px;
  margin:0;
  padding:0;
  z-index:5;
}
#zone3{
  position:absolute;
  height:215px;
  width:204px;
  left:769px;
  top:130px;
  margin:0;
  padding:0;
  z-index:5;
}

#scoreboard{
  background:url(images/scoreboard.png);
  background-size:contain;
  border:5px solid black;
  position:absolute;
  height:160px;
  width:300px;
  left:50px;
  bottom:50px;
  margin:0;
  padding:0;
  z-index:5;
  font-size: 50px
}

#homepoints{
  position:absolute;
  height:93px;
  width:105px;
  bottom:5px;
  left:7px;
  border:3px solid white;
  color:red;
  text-align: center;
  vertical-align: middle;
  font-size: 80px;
}

#awaypoints{
  position:absolute;
  height:93px;
  width:105px;
  border:3px solid white;
  bottom:5px;
  right:5px;
  color:red;
  text-align: center;
  vertical-align: middle;
  font-size: 80px;
}

#roundnum{
  position:absolute;
  height:28px;
  width:34px;
  border:3px solid white;
  left:129px;
  top: 76px;
  color:red;
  font-size: 25px;
  text-align:center;
}

@keyframes goalie{
  0%{left:564px;
    top:250px;'}
  100%{ left:331px;
        top:178px;}
}

@keyframes ball{
  0%{left:566px;
    top:500px;'}
  100%{left:315px;
      top:155px;}
}


#notify{
  position:absolute;
  font-size:100px;
}
#message {
  position:absolute;
  font-size: 100px;
  font-family:"Helvetica","Arial",sans-serif;
  color:red;
  animation: flashAcross 5s linear 0s 1;
}

@keyframes flashAcross{
  0%{left: 0%;}
  100%{left:200%;}
}

