body{
  background-color:red;
}

img{
  height:100%;
  width:100%;
  border:solid 2px black;
}

#content{
  background-color:gray;
  text-align: center;
}

.proj{
  border:1px solid black;
  margin:2%;
  padding:2%;
  display: inline-block;
}

.right{
  height:100%;
  width:50%;
  float:right;
  display:inline;
}

.left{
  height:100%;
  width:50%;
  float:left;
  display:inline;
}

.proj p{
font-size:1.5em;
margin-left:5px;
margin-right:5px;
}

.title{
  font-size:125%;
  text-decoration: underline;
}
